html {
    height: 100%;
    box-size: 62.5%;
    box-sizing: border-box;
}

*{
    cursor: none;
},
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
}

#c {
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
}

.container #c, #raam {
    position: absolute;
}


#raam {
    position: absolute;
}

.ball{
    height: 20rem;
    width: 20rem;
    background-color: blue;
    border-radius: 50%;
}